* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #C70039;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  

}

.grid-container > div {
    background-color: #737074;
  text-align: center;
  border: 1px solid rgb(19, 18, 18);
  padding: 10px;
}
