* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(58, 56, 56);
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 20px;
}

.item {
  font-size: 2rem;
}
.items-1 {
  background: #ff1616;
}
.items-2 {
  background: #ff914d;
}
.items-3 {
  background: #ffde59;
}
.items-4 {
  background: #7ed957;
}
.items-5 {
  background: #5271ff;
}
.items-6 {
  background: #8c52ff;
}
.items-7 {
  background: #7f00ff;
}
.items-8 {
  background: #ff1616;
}

.items-9 {
  background: #7ed957;
}


